@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.ttf');
  font-weight: 700;
}