@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Black.ttf');
  font-weight: 900;
}
@font-face {
  font-family: 'Raleway';
  src: url('../fonts/Raleway-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Light.ttf');
  font-weight: 300;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Regular.ttf');
  font-weight: 400;
}
@font-face {
  font-family: 'Roboto Condensed';
  src: url('../fonts/RobotoCondensed-Bold.ttf');
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.wrapper-block {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.wrapper-block .header {
  height: 60px;
  background-color: #529af6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 84px;
}
@media screen and (max-width: 500px) {
  .wrapper-block .header {
    padding-left: 30px;
  }
}
.wrapper-block .centerr-block {
  background-color: #ebebeb;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-image: url("../img/circles.png");
  background-position: center;
  background-size: cover;
  padding: 20px 0;
}
.wrapper-block .centerr-block .first-step {
  text-align: center;
}
@media screen and (max-width: 680px) {
  .wrapper-block .centerr-block .first-step img {
    width: 500px;
  }
}
@media screen and (max-width: 520px) {
  .wrapper-block .centerr-block .first-step img {
    width: 400px;
  }
}
@media screen and (max-width: 420px) {
  .wrapper-block .centerr-block .first-step img {
    width: 310px;
  }
}
.wrapper-block .centerr-block .first-step .title {
  margin-bottom: 42px;
}
@media screen and (max-width: 700px) {
  .wrapper-block .centerr-block .first-step .title {
    margin-bottom: 20px;
  }
}
.wrapper-block .centerr-block .first-step .title p {
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  color: #494949;
  max-width: 1110px;
}
@media screen and (max-width: 700px) {
  .wrapper-block .centerr-block .first-step .title p {
    font-size: 25px;
  }
}
@media screen and (max-width: 500px) {
  .wrapper-block .centerr-block .first-step .title p {
    font-size: 20px;
  }
}
.wrapper-block .centerr-block .first-step .title p .thin-weight {
  font-weight: 300;
}
.wrapper-block .centerr-block .first-step .title p .orange-color {
  color: #eb873e;
}
.wrapper-block .centerr-block .first-step #signIn {
  width: 412px;
  height: 60px;
  border-radius: 6px;
  background-color: #9122ef;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
  border: none;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 500px) {
  .wrapper-block .centerr-block .first-step #signIn {
    width: 352px;
  }
}
@media screen and (max-width: 455px) {
  .wrapper-block .centerr-block .first-step #signIn {
    width: 312px;
  }
}
@media screen and (max-width: 410px) {
  .wrapper-block .centerr-block .first-step #signIn {
    width: 262px;
  }
}
@media screen and (max-width: 370px) {
  .wrapper-block .centerr-block .first-step #signIn {
    width: 212px;
  }
}
.wrapper-block .centerr-block .first-step #signIn:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 5px 15px -5px #000000;
  box-shadow: 0 5px 15px -5px #000000;
}
.wrapper-block .centerr-block .first-step #registration {
  width: 470px;
  height: 60px;
  border-radius: 6px;
  background-color: #2277ef;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
  border: none;
  margin-bottom: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
@media screen and (max-width: 500px) {
  .wrapper-block .centerr-block .first-step #registration {
    width: 410px;
  }
}
@media screen and (max-width: 455px) {
  .wrapper-block .centerr-block .first-step #registration {
    width: 370px;
  }
}
@media screen and (max-width: 410px) {
  .wrapper-block .centerr-block .first-step #registration {
    width: 320px;
  }
}
@media screen and (max-width: 370px) {
  .wrapper-block .centerr-block .first-step #registration {
    width: 270px;
  }
}
.wrapper-block .centerr-block .first-step #registration:hover {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-box-shadow: 0 5px 15px -5px #000000;
  box-shadow: 0 5px 15px -5px #000000;
}
.wrapper-block .centerr-block .step-signIn {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: center;
  display: none;
}
.wrapper-block .centerr-block .step-signIn form {
  display: inline-block;
  width: 100%;
  max-width: 503px;
  padding: 0 5px;
}
.wrapper-block .centerr-block .step-signIn form .form-group {
  text-align: left;
}
.wrapper-block .centerr-block .step-signIn form .form-group input {
  height: 60px;
  border-radius: 2px;
  border: solid 2px #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  text-align: left;
  color: #5c5c5c;
}
.wrapper-block .centerr-block .step-signIn form .form-group label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #5c5c5c;
}
.wrapper-block .centerr-block .step-signIn form .form-group button {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  background-color: #2277ef;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapper-block .centerr-block .step-signIn form .form-group button:hover {
  -webkit-box-shadow: 0 5px 15px -5px #000000;
  box-shadow: 0 5px 15px -5px #000000;
}
.wrapper-block .centerr-block .step-signIn form .checkbox {
  text-align: left;
}
.wrapper-block .centerr-block .step-registretion {
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: center;
  display: none;
}
.wrapper-block .centerr-block .step-registretion form {
  display: inline-block;
  width: 100%;
  max-width: 503px;
  padding: 0 5px;
}
.wrapper-block .centerr-block .step-registretion form .form-group {
  text-align: left;
}
.wrapper-block .centerr-block .step-registretion form .form-group input {
  height: 60px;
  border-radius: 2px;
  border: solid 2px #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  text-align: left;
  color: #5c5c5c;
}
.wrapper-block .centerr-block .step-registretion form .form-group label {
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-weight: 300;
  color: #5c5c5c;
}
.wrapper-block .centerr-block .step-registretion form .form-group button {
  width: 100%;
  height: 60px;
  border-radius: 6px;
  background-color: #2277ef;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: bold;
  font-stretch: condensed;
  text-align: center;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.wrapper-block .centerr-block .step-registretion form .form-group button:hover {
  -webkit-box-shadow: 0 5px 15px -5px #000000;
  box-shadow: 0 5px 15px -5px #000000;
}
.wrapper-block .centerr-block .step-registretion form .form-group select {
  display: inline-block;
  width: 100%;
  height: 60px;
  border-radius: 2px;
  border: solid 2px #d9d9d9;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-stretch: condensed;
  text-align: left;
  color: #5c5c5c;
}
.wrapper-block .centerr-block .step-registretion form .checkbox {
  text-align: left;
}
.footer-block .logos {
  height: 85px;
  opacity: 0.85;
  background-image: linear-gradient(to left, #2d0053, #83b7ff);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media screen and (max-width: 440px) {
  .footer-block .logos {
    height: 65px;
  }
}
@media screen and (max-width: 750px) {
  .footer-block .logos img {
    max-height: 31px;
  }
}
@media screen and (max-width: 580px) {
  .footer-block .logos img {
    max-height: 23px;
  }
}
@media screen and (max-width: 440px) {
  .footer-block .logos img {
    max-height: 18px;
  }
}
@media screen and (max-width: 360px) {
  .footer-block .logos img {
    max-height: 15px;
  }
}
.footer-block .footer {
  padding: 20px 0;
  background-color: #173e5f;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: #ffffff;
}
.footer-block .footer-text {
  opacity: 0.45;
  margin-bottom: 10px;
  max-width: 733px;
  display: inline-block;
}
.footer-block .footer-support,
.footer-block .footer-copy {
  display: block;
  font-size: 12px;
}
.footer-block .footer-support {
  margin-bottom: 10px;
}
#backward {
  position: fixed;
  top: 90px;
  left: 20px;
  display: none;
  height: 12px;
  opacity: 0.5;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#backward:hover {
  opacity: 1;
}
.intl-tel-input {
  display: block;
}
